.jiangnanstory {
  align-items: stretch;
  margin: 10;
  padding: 0;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-areas:
            "a a a"
            ". b b"
            ". b b"
            "f f f"
            ". d d"
            "e e ."
            "c c c"
          ;}

.jiangnan1{
  grid-area: a;
}

.jiangnan2{
    grid-area: b;
}

.jiangnan3 {
    grid-area: c;
}

.jiangnan4 {
  grid-area: d;
}


.jiangnan5 {
  grid-area: e;
}

.jiangnan6 {
    grid-area: f;
}
